<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Weather Forecast</title>
</head>
<body>
<div align="center">
    <h2>Weather Forecast Web Application</h2>
    <br>
    <br>
</div>
<h3>Select City</h3>
<form th:action="@{/weather{selectedcity}(selectedcity = ${city})}" method="GET">

    <table>
        <br>

        <tr>
            <td>City</td>
            <td><select name="city">
                <option th:each="city : ${cities}">
                    <span th:text="${city}"></span>
                </option>
            </select></td>
            <td><input type="submit" value="proceed"/></td>
        </tr>
        <br>
        <tr>

        </tr>
        <br>
    </table>
    <br>
</form>
</body>
</html>